<%= form_with(model: sword_form) do |form| %>
  <% if sword_form.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2 class="alert-heading"><%= pluralize(sword_form.errors.count, "error") %> stopped this form from being saved:</h2>

      <ul>
      <% sword_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
      <small class="form-text text-muted">The name of the form</small>
    </div>
  </div>

  <div class="row mb-3">
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control', rows: 10 %>
      <small class="form-text text-muted">The description of the form</small>
    </div>
  </div>

  <div class="actions row mb-3">
    <div class="col">
      <%= form.submit 'Save my form', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
