<h1 class="display-5">Sword forms</h1>

<p class="lead">
<%- if signed_in? -%>
  <%= link_to "New sword form", new_sword_form_path, id: 'add-sword-form' %> |
<%-end -%>
<%= link_to 'Tags', tags_path %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Form</th>
      <th>Description</th>
      <th>Tags</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sword_forms.each do |sword_form| %>
      <tr>
        <td><%= link_to sword_form.name, sword_form %></td>
        <td><%= sword_form.description %></td>
        <td><%= safe_join(sword_form.tags.map { |t| link_to(t.name, t) }, ', '.html_safe) %></td>
        <td>
          <%- if signed_in? -%>
            <%= link_to 'Edit', edit_sword_form_path(sword_form) %>
          <%-end -%>
        </td>
        <td>
          <%- if signed_in? -%>
            <%= link_to 'Destroy', sword_form, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%-end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
