<h1 class="display-5">Sword forms</h1>

<%- if signed_in? -%>
  <p class="lead"><%= link_to "New sword form", new_sword_form_path, id: 'add-sword-form' %></p>
<%-end -%>

<table class="table">
  <thead>
    <tr>
      <th>Form</th>
      <th>Description</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sword_forms.each do |sword_form| %>
      <tr>
        <td><%= sword_form.name %></td>
        <td><%= sword_form.description %></td>
        <td><%= sword_form.tags.map { |t| t.name }.join(', ') %></td>
        <td><%= link_to 'Show', sword_form %></td>
        <td>
          <%- if signed_in? -%>
            <%= link_to 'Edit', edit_sword_form_path(sword_form) %>
          <%-end -%>
        </td>
        <td>
          <%- if signed_in? -%>
            <%= link_to 'Destroy', sword_form, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%-end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
