<p style="color: green"><%= notice %></p>

<%= render @sword_form %>

<div>
  <%= link_to "Edit this sword form", edit_sword_form_path(@sword_form) %> |
  <%= link_to "Back to sword forms", sword_forms_path %>

  <%= button_to "Destroy this sword form", @sword_form, method: :delete %>
</div>
